.container
{
    display: flex;
    justify-content: space-around;
    background-color: grey;
}

.pokelist
{
    background-color: red;
}

.captured-bucket
{
    background-color: green;
}

.head-text
{
    color: blue;
}
.card-poke
{
    background-color: bisque;
    border-radius: 8px;
}

.dashboard
{
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
}
